.room {
    cursor: pointer;
}

#noRoomsInfo {
    text-align: center;
    display: none;
    border: 1px solid #cccccc;
    border-top: 0px;
}

#newRoomContainer {
    text-align: center;
}

#textDiv {
    display: inline-flex;
    font-size: 14px;
}

#text {
    width: 100%;
}

#chatContainer {
    display: inline-flex;
    border-width: 1px;
    border-style: solid;
    border-color: #b6b6b3;
}

#onlineUsersContainer {
    width: 9%;
}

#onlineUsersContainer .onlineUser {
    padding: 5% 0% 0% 5%;
}

#onlineUsersTitle {
    background: #399e2d;
    text-align: center;
    color: white;
    font-weight: bold;
}

#messagesContainer {
    overflow-y: scroll;
    width: 91%;
    height: 20em;
    border-right: #b6b6b3 1px solid;
    font-family: 'Courier New', Courier, monospace;
}

#messagesContainer .time {
    color: #646468;
    font-size: 11px;
}

@media all and (max-width: 1024px) {
    #messagesContainer {
        width: 80%;
    }
    #onlineUsersContainer {
        width: 20%;
    }
}

#messagesContainer>div {
    padding: 20px;
}